# Logs
logs
*.log
yarn-debug.log*
yarn-error.log*

# Coverage directory used by tools like istanbul
coverage
*.lcov

# Compiled binary addons
build/
dist/

# Dependency directories
node_modules/

# dotenv environment variables file
.env
.env.test
.env.local

# macOS
.DS_Store